<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Bitcoin chart analysis</title>
  <link href="/static/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">coming soon</a>
                    </li>
                   
                </ul>
            </nav>
			
            <img src="/static/images/bitcoin_3.png" alt="Bitcoin.png.png"/ > 
        </div>
 
        <div class="jumbotron">
            <h1>Bitcoin graph analysis</h1>
        </div>
		<div id="graph-0"></div>
		<div class="row marketing">
            <div class="col-lg-6">
				<div id="graph-2"></div>		
            </div>
			
			 <div class="col-lg-6">
			
			<div id="graph-3"></div>
			
			 </div>
			 </div>
			 <div id="graph-1"></div>
			
			
						<script>
									 var graphs = {{graphJSON | safe}};
        var ids = {{ids | safe}};
        for(var i in graphs) {
            Plotly.plot(ids[i], // the ID of the div, created above
                        graphs[i].data, {});
        }
								</script>
							
       
 
        <footer class="footer">
            <p>&copy;Antoine </p>
        </footer>
 
    </div>
</body>
 
</html>
